<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.proyectoasesoriastecnm">

    <application
        android:allowBackup="true"
        android:icon="@drawable/tecnm"
        android:label="@string/app_name"
        android:roundIcon="@drawable/tecnm"
        android:supportsRtl="true"
        android:theme="@style/Theme.ProyectoAsesoriasTecNM">
        <activity android:name=".QRLector"></activity>
        <activity android:name=".DashboardEstadisticasActivity" />
        <activity android:name=".ContactoActivity" />
        <activity android:name=".AyudaActivity" />
        <activity android:name=".ProfesorDetalleCitaActivity" />
        <activity android:name=".ProfesorCitasActivity" />
        <activity android:name=".ProfesorProfileActivity" />
        <activity android:name=".CitasV2" />
        <activity android:name=".CitaActivity" />
        <activity android:name=".AgendarActivity" />
        <activity android:name=".MateriasActivity" />
        <activity android:name=".DashboardAsesoriaActivity" />
        <activity android:name=".DashboardMateriaActivity" />
        <activity android:name=".DashboardUsuarioActivity" />
        <activity android:name=".DashboardActivity" />
        <activity android:name=".ProfesorMenuActivity" />
        <activity android:name=".MenuActivity" />
        <activity android:name=".ProfileActivity" />
        <activity android:name=".RegisterUserActivity" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>